<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dead1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1747,0},{134,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,186},{134,268}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead10.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,1341},{173,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{144,177},{173,273}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead11.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,269},{174,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{136,178},{174,272}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead12.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,0},{188,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,182},{188,268}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead13.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,187},{201,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,186},{201,264}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead14.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,1341},{212,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{97,193},{212,257}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead15.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,604},{223,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{86,202},{223,248}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead16.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,1684},{232,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{77,212},{232,238}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead17.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,934},{239,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,223},{239,227}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead18.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,389},{244,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,236},{244,214}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead19.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,187},{248,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,249},{248,201}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,528},{139,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{224,182},{139,271}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead20.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,0},{250,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{58,264},{250,186}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead21.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1364},{250,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,279},{250,171}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead22.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,1752},{250,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,291},{250,160}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead23.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1536},{250,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,304},{250,147}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead24.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1901},{251,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{55,316},{251,136}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead25.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1626},{257,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{55,328},{257,125}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead26.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,248},{264,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,341},{264,123}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead27.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1364},{257,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,323},{257,130}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead28.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1752},{251,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,305},{251,148}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead29.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,769},{243,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,289},{243,164}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead3.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,817},{147,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{213,180},{147,273}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead30.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,1162},{237,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{69,274},{237,178}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead31.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,934},{228,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{78,260},{228,192}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead32.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,1162},{237,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{69,274},{237,178}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead33.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,604},{243,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,289},{243,164}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead34.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1752},{251,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,305},{251,148}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead35.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1495},{257,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,323},{257,130}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead36.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,248},{264,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,341},{264,123}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead37.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,744},{264,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,341},{264,123}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead38.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{264,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,341},{264,123}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead39.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,124},{264,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,341},{264,123}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead4.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,1647},{154,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{202,178},{154,274}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead40.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,992},{264,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,341},{264,123}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead41.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1116},{264,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,341},{264,123}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead42.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1240},{264,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,341},{264,123}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead43.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,868},{264,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,341},{264,123}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead44.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,496},{264,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,341},{264,123}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead45.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,620},{264,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,341},{264,123}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead46.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,372},{264,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,341},{264,123}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead47.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,372},{264,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,341},{264,123}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead48.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,372},{264,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,341},{264,123}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead49.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,372},{264,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,341},{264,123}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead5.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,1370},{159,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{191,176},{159,276}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead50.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,372},{264,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,341},{264,123}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead6.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,1094},{163,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,176},{163,275}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead7.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1615},{167,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{171,175},{167,276}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead8.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,817},{169,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{162,175},{169,276}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>dead9.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,542},{171,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,176},{171,274}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>fall1.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,1094},{148,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{231,121},{148,242}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>fall10.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,269},{146,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{231,121},{146,242}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>fall2.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,269},{146,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{231,121},{146,242}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>fall3.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,512},{145,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,121},{145,242}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>fall4.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,0},{144,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,121},{144,242}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>fall5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,0},{142,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,121},{142,242}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>fall6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1052,735},{142,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{229,121},{142,242}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>fall7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,0},{142,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,121},{142,242}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>fall8.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,0},{144,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,121},{144,242}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>fall9.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,512},{145,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,121},{145,242}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1882,0},{134,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,186},{134,268}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,1347},{138,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,181},{138,273}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1335,0},{138,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,180},{138,274}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,1347},{138,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,181},{138,273}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1335,275},{138,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,181},{138,273}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,549},{137,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,182},{137,272}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,1621},{137,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,182},{137,272}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1477,1621},{136,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,183},{136,271}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,259},{135,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,183},{135,271}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,531},{134,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,184},{134,270}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1614,1689},{134,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,184},{134,270}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,1068},{134,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,185},{134,269}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,1068},{134,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,185},{134,269}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1614,1689},{134,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,184},{134,270}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,531},{134,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,184},{134,270}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,259},{135,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,183},{135,271}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1477,1621},{136,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,183},{136,271}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,1621},{137,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,182},{137,272}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,549},{137,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,182},{137,272}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>idle9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1335,275},{138,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,181},{138,273}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>jump1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1750,815},{133,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{237,179},{133,274}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>jump10.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,1094},{148,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{231,121},{148,242}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>jump11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,243},{143,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,128},{143,245}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>jump12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1059,1647},{139,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{236,134},{139,249}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>jump13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1481,815},{136,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,140},{136,252}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>jump14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2017,0},{132,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{241,146},{132,255}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>jump15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2018,1341},{131,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{244,153},{131,256}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>jump16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1614,1396},{135,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{243,159},{135,292}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>jump17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,1109},{136,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{241,166},{136,286}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>jump18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,534},{136,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{239,172},{136,280}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>jump19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1884,1358},{133,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{237,179},{133,274}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>jump2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1474,0},{136,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{239,172},{136,280}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>jump3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1344,822},{136,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{241,166},{136,286}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>jump4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,0},{135,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{243,159},{135,258}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>jump5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,802},{131,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{244,153},{131,256}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>jump6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1884,1633},{132,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{241,146},{132,255}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>jump7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1474,281},{136,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,140},{136,252}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>jump8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,0},{139,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{236,134},{139,249}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>jump9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1051,489},{143,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,128},{143,245}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1882,0},{134,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,186},{134,268}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2018,256},{132,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{254,181},{132,269}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1884,1090},{133,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{254,183},{133,267}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2278,274},{125,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,183},{125,268}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2151,273},{126,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{252,183},{126,268}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2150,1610},{129,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{246,184},{129,268}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2150,1068},{131,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{241,184},{131,269}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1882,0},{134,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,186},{134,268}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1750,1090},{133,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{239,183},{133,270}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2017,1633},{132,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{242,180},{132,272}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2018,1067},{131,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{245,178},{131,273}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2150,797},{131,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{241,183},{131,270}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1750,269},{134,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{244,176},{134,275}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,250},{139,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{241,173},{139,277}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,1251},{139,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{241,175},{139,275}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,800},{139,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{241,176},{139,274}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1199,1527},{139,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{241,177},{139,273}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1060,978},{139,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{241,178},{139,272}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,1075},{139,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{241,179},{139,271}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1749,1689},{134,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{244,181},{134,270}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run28.png</key>
			<dict>
				<key>frame</key>
				<string>{{2018,797},{131,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{245,182},{131,269}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1885,269},{132,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{242,183},{132,269}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2150,1338},{129,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{246,181},{129,271}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1750,545},{133,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{239,184},{133,269}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2151,0},{126,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{252,179},{126,272}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2278,0},{125,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,178},{125,273}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1750,1361},{133,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{254,176},{133,274}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1884,545},{133,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{254,178},{133,272}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1884,818},{133,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{254,179},{133,271}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

			<key>run9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2018,526},{132,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{254,180},{132,270}}</string>
				<key>sourceSize</key>
				<string>{633,523}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>